@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.cardgeral{
  @include box-model($borda-grande);
  height: auto;
  margin-top: 1.5rem;
  width: 60vw
}

.cardjogo{
  @include flex-position(
    flex,
    row,
    auto,
    center,
    center,
    center
  );
  width: 60vw;
  height: 15vh;
  margin-bottom: 0;

  &__aside{
    width: 30vw;

    h2{
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 400;
      padding: 0 3rem;
      cursor: default;
      color: $cor-preto;
    }
  }

  &__asideleft{
    @include flex-position(
      flex,
      row,
      auto,
      end,
      center,
      center
    );
    height: 15vh;
    padding: 0 4rem;
    background-color: $cor-verde-claro;
  }
  
  &__asideright{
    @include flex-position(
      flex,
      row-reverse,
      auto,
      start,
      center,
      center
    );
    height: 15vh;
    padding: 0 4rem;
    background-color: $cor-verde-escuro;
  }

  .placarflutuante{
    @include box-model($borda-pequena);
    padding: .3rem .8rem;
    background-color: $cor-branco;
    position: absolute;
  }
}

.cardinfo{
  @include flex-position(
      flex,
      column,
      auto,
      center,
      center,
      center
    );
    flex-wrap: wrap;
  width: 60vw;
  height: auto;
  background-color: $cor-branco;
  cursor: default;
}