@use '../src/styles/mixins' as *;
@use '../src/styles/variables' as *;

.bghome{
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-size: cover;
  position: absolute;
  z-index: -1;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-image: url('https://wallpaperaccess.com/full/7488734.jpg');
}

.home{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  width: 100vw;
  min-height: 100vh;
  padding: 4rem;
  backdrop-filter: blur(4px);
}
