//cor

$cor-preto: #232323;
$cor-branco: #ededed;
$cor-verde-claro: #a9fb49;
$cor-verde-escuro: #05a625;
$cor-cinza: #aaaaaa;
$cor-shadow: #00000040;


//formas

$borda-pequena: .3rem;
$borda-grande: .6rem;
$borda: 0.5px solid $cor-cinza;
$borda-shadow: 0px 1px 1px 0px $cor-shadow;



@keyframes status{
  0%{
    color: $cor-verde-escuro;
  }
  100%{
    color: $cor-preto;
  }
}