@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.carddetailshow{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  width: 70vw;
  height: auto;

  &__info{
    @include flex-position(
      flex,
      row,
      auto,
      center,
      center,
      center
    );
    width: 70vw;
    gap: 3rem;

    p{
      padding: .6rem;
      color: $cor-cinza;
    }
  }

  &__content{
    width: 70vw;
    height: 10vh;
  }
}

@include viewport(xl){
  .carddetailshow{
    width: 90vw;

    &__info{
      width: 90vw;
    }

    &__content{
      width: 90vw;
    }
    
  }
}

@include viewport(md){
  .carddetailshow{

    &__info{
      gap: 1rem;
      p{
        font-size: 14px;
        padding: 1rem .4rem;
      }
    }
  }
}

@include viewport(sm){
  .carddetailshow{
  }
}